@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

/* GLOBAL */

html, body {
    margin: 0px; 
    padding: 0px
}


.font {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

/* NAV */

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    max-width: 300px;
}

.nav-item {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

/* HOME */

#home {
    padding: 4em 0 0 0;
}

.header-text .purchase {
    font-size: 22px;
}

.header-text-visible {
    display: none;
}

.register {
    font-size: 16px;
}

/* MAIN */

.jumbotron-one {
    margin-top: 40px;
    background: URL(images/OrangeTriBackground.png);
    background-size: cover;
}

.jumbotron-one p {
    color: white;
    font-size: 30px;
    padding-top: 30px;
}

.jumbotron-one .card-body p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 22px;
    padding-top: 0;
}

.cards {
    padding-top: 40px;
}

.card-one {
    background-color: #FA7A66;
    border-radius: 0;
}

/* AGENDA */

.jumbotron-two {
    background-color: #CCCCCC;
    margin-top: 30px;
}

.card-two {
    border-radius: 0;
    margin-bottom: 20px;
}

/* SPEAKERS */

.jumbotron-three {
    background-color: black;
    margin-top: 30px;
}

.speaker {
    color: #ff8500;
    font-size: 30px;
}

.jumbotron-three p {
    color: white;
    font-size: 20px;
}

/* PRICING */

.jumbotron-four {
    background-color: #009DDC;
    margin-top: 30px;
}

.jumbotron-four h2 {
    color: white;
    font-size: 90px;
}

.jumbotron span {
    color: white;
    font-size: 30px;
}

.jumbotron-four h3 {
    color: white;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 50px;
}

/* CREDITS */

.jumbotron-five {
    background-color: #F2F2F2;
    margin-top: 30px;
}

.jumbotron-five h2 {
    color: #009DDC;
    font-size: 38px;
}

.jumbotron-five img {
    padding-top: 40px;
}

.jumbotron-five p {
    padding-top: 20px;
    font-size: 24px;
}

/* SPONSORS */

.jumbotron-six {
    background-color: white;
    /* margin-top: 30px; */
}

.jumbotron-six h2 {
    color: #009DDC;
    font-size: 38px;
}

.jumbotron-six p {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 20px;
}

/* TECH */

.jumbotron-seven {
    background-color: #F2F2F2;
    margin-top: 30px;
}

/* .jumbotron-seven p {
    padding-bottom: 25px;
} */

/* FAQ */

.jumbotron-eight {
    background-color: #F2F2F2;
    margin-top: 30px;
}

/* PRE-FOOTER */

.jumbotron-nine {
    background-color: white;
    margin-top: 30px;
}

/* FOOTER */

.jumbotron-ten {
    background-color: #009DDC;
    margin-top: 30px;
}

.jumbotron-ten i {
    color: white;
    font-size: 60px;
    padding-right: 15px;
}

.jumbotron-ten p {
    color: white;
    font-size: 25px;
    padding-top: 20px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
    /* .header-text .purchase {
        font-size: 26px;
    } */

    .header-text {
        display: none;
    }

    .header-text-visible {
        display: block;
        text-align: center;
        margin-top: 30px;
    }

    .header-text-visible p {
        margin-bottom: 5px;
    }

    .header-text-visible .purchase {
        font-size: 26px;
    }

    .jumbotron-one img {
        padding-bottom: 30px;
    }

    .jumbotron-one p {
        font-size: 24px;
        padding-top: 5px;
    }

    .jumbotron-one .card-body p {
        font-size: 20px;
    }

    .jumbotron-three p {
        font-size: 18px;
    }

    .jumbotron-three .card-body {
        padding-top: 0;
        padding-bottom: 0;
    }

    .jumbotron-four h2 {
        font-size: 70px;
    }

    .jumbotron-four h3 {
        font-size: 24px;
        line-height: 40px;
    }

    .jumbotron-five h2 {
        font-size: 32px;
    }

    .jumbotron-five p {
        font-size: 20px;
    }

    .jumbotron-ten p {
        font-size: 22px;
    }
}

@media screen and (max-width: 768px) {
    .jumbotron-one p {
        font-size: 18px;
        padding-top: 5px;
    }

    .jumbotron-one .card-body h3 {
        font-size: 1.5rem;
    }

    .jumbotron-one .card-body p {
        font-size: 18px;
    }
    .jumbotron-three p {
        font-size: 16px;
    }

    .title {
        font-size: 2rem;
        margin-bottom: 0;
    }

    .jumbotron-four h2 {
        font-size: 60px;
    }

    .jumbotron-four h3 {
        font-size: 18px;
        line-height: 35px;
    }

    .jumbotron span {
        font-size: 24px;
    }

    .jumbotron-five h2 {
        font-size: 24px;
    }

    .jumbotron-five p {
        font-size: 16px;
    }

    .jumbotron-six h2 {
        font-size: 26px;
    }

    .jumbotron-ten p {
        font-size: 18px;
    }
}

@media screen and (max-width: 576px) {
    #home {
        padding: 1em 0 0 0;
    }

    .logo {
        max-width: 200px;
    }

    #home img {
        padding: 0 20px 0 20px;
    }

    .speakers {
        padding-top: 15px;
    }

    .header-text-visible .purchase {
        font-size: 20px;
    }

    .register {
        font-size: 14px;
        padding: 0 25px 0 25px;
    }

    .jumbotron-one .col-sm-4 {
        padding-bottom: 15px;
    }

    .cards {
        padding-top: 20px;
    }

    .title {
        font-size: 2.5rem;
        margin-bottom: 0;
        text-align: center;
        padding-bottom: 15px;
    }

    .jumbotron-three img {
        padding-bottom: 10px;
    }

    .jumbotron-four h2 {
        font-size: 30px;
    }

    .jumbotron span {
        font-size: 14px;
    }

    .jumbotron-four h3 {
        font-size: 14px;
        line-height: 25px;
    }

    .jumbotron-five h2 {
        font-size: 18px;
    }

    .jumbotron-five p {
        font-size: 14px;
    }

    .jumbotron-six {
        margin-bottom: 0;
    }

    .jumbotron-ten p {
        font-size: 16px;
    }
}

@media screen and (max-width: 375px) {
    .header-text-visible .purchase {
        font-size: 18px;
    }

    .register {
        font-size: 12px;
        padding: 0 25px 0 25px;
    }

    .jumbotron-one p {
        font-size: 16px;
    }

    .jumbotron-one .card-body h3 {
        font-size: 20px;
    }

    .jumbotron-one .card-body p {
        font-size: 16px;
    }

    .title {
        font-size: 2rem;
    }

    .jumbotron-ten i {
        font-size: 45px;
    }

    .jumbotron-ten p {
        font-size: 14px;
    }
}